Connected Services/ServiceReference1/FunctionCalculate.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="FunctionCalculate" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Lab7/Service1/FunctionCalculate?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Lab7/Service1/FunctionCalculate?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFunctionCalculate_Number8_InputMessage">
    <wsdl:part name="parameters" element="tns:Number8" />
  </wsdl:message>
  <wsdl:message name="IFunctionCalculate_Number8_OutputMessage">
    <wsdl:part name="parameters" element="tns:Number8Response" />
  </wsdl:message>
  <wsdl:message name="IFunctionCalculate_Number20_InputMessage">
    <wsdl:part name="parameters" element="tns:Number20" />
  </wsdl:message>
  <wsdl:message name="IFunctionCalculate_Number20_OutputMessage">
    <wsdl:part name="parameters" element="tns:Number20Response" />
  </wsdl:message>
  <wsdl:portType name="IFunctionCalculate">
    <wsdl:operation name="Number8">
      <wsdl:input wsaw:Action="http://tempuri.org/IFunctionCalculate/Number8" message="tns:IFunctionCalculate_Number8_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFunctionCalculate/Number8Response" message="tns:IFunctionCalculate_Number8_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Number20">
      <wsdl:input wsaw:Action="http://tempuri.org/IFunctionCalculate/Number20" message="tns:IFunctionCalculate_Number20_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFunctionCalculate/Number20Response" message="tns:IFunctionCalculate_Number20_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFunctionCalculate" type="tns:IFunctionCalculate">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Number8">
      <soap:operation soapAction="http://tempuri.org/IFunctionCalculate/Number8" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Number20">
      <soap:operation soapAction="http://tempuri.org/IFunctionCalculate/Number20" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FunctionCalculate">
    <wsdl:port name="BasicHttpBinding_IFunctionCalculate" binding="tns:BasicHttpBinding_IFunctionCalculate">
      <soap:address location="http://localhost:8733/Lab7/Service1/FunctionCalculate" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>